# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Client/TPClient/Debug/
Client/TPClient/.vs/TPClient/
Client/TPClient/TPClient/Debug/
Serveur/TPServeur/TPServeur/Debug/
Serveur/TPServeur/Debug/
Serveur/TPServeur/.vs/TPServeur/
Serveur/TPServer/\.vs/

Serveur/TPServer/Debug/

Serveur/TPServer/TPServer/Debug/

Serveur/TPServer/x64/

Serveur/TPServer/TPServer/x64/
